<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>

  <body class='container'>
    <header><%- include('partials/header') %></header>
    <main>
      <div class="jumbotron">
        <% if(locals.error) { %>
          <div class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> <%= locals.error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert">X</button>
          </div>
        <% } %>
        <%- body %>
      </div>
    </main>
    <footer><%- include('partials/footer'); %></footer>
</body>
</html>
